<!DOCTYPE html>
<html lang="en">
  <body>
    <p id="dateToday"></p>
    <script>
      const todaysDate = new Date();
      document.getElementById("dateToday").innerHTML =
        todaysDate.toDateString();
    </script>
  </body>
</html>
