<!DOCTYPE html>
<html lang="en">
  <body>
    <div>
      <div class="footer-padding"></div>
      <div class="footer">
        <p>Made with ❤️ by Laynie Vee</p>
      </div>
    </div>
  </body>
</html>
